input.largerCheckbox {
    transform: scale(2);
}

img {
    height: 150px;
    width: 150px;
}

.container {
    border-radius: 10px;
    margin: 2px;
    padding: 20px;
    text-align: center;
    background-color: rgb(55, 79, 97);
    font-family: sans-serif;
    color: white;
    box-shadow: 0px 0px 5px 2px black;
}

body {
    padding: 0%;
    margin: auto;
    height: 100vh;
    display: flex;
    align-items:  center;
    justify-content: center;
    font-size: 18px;
    background-size: cover;
    background-position: center;
    background-color: rgb(60, 138, 143);
    }

::placeholder {
        color: gray;
    }

fieldset {
    text-align: left;
    border-color: rgb(255, 141, 90);
    border-radius: 10px;
}

iframe {
    height: 600px;
    width: 400px;
    border-color: rgb(255, 141, 90);
    border-width: 0px;
    border-radius: 0px;
  }

.button {
    background-color: rgb(159, 193, 192);
    height: 40px;
    width: 100px;
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
}

h1 {
    font-size: 40px;
}

ul {
    margin-left: 120px;
}

.qty {
    width: 52px;
    height: 21.2px;
}

td {
    font-size: 16px;
    padding-left: 20px;
    color: white;
}

th {
    font-size: 16px;
    padding-left: 20px;
    color: rgb(255, 141, 90);
}

.rs {
    width: 52px;
    height: 21.2px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.main {
    width: 380px;
    height: 900px;
}

.gg {
    height: 60px;
    width: 240px;
}